{% extends "base.html.twig" %}

{% block title %}Backend{% endblock %}

{% block body %}
    <div class="jumbotron text-center text-capitalize">
{#        utilisation de la variable "app" globale définie par symfony pour récupérer l'username#}
        <h2>Bienvenue dans le back-end {{ app.user.username }} !
            <span class="float-right">
                <a href="{{ path("logout") }}" class="btn btn-outline-info">Déconnexion</a>
            </span>
        </h2>
    </div>
{% endblock %}