/*Je peux importer le bootstrap d'ici, ou du fichier "app.js*/
/*@import "~bootstrap/dist/css/bootstrap";*/

body {
    background-color: #fff;
}

.main_picture {
    min-height: 100vh;
    min-width: 100vw;
}

