{% extends 'base.html.twig' %}

{% block title %} Accueil · Camping de l'Espadrille Volante {% endblock %}

{% block body %}
<div>
    <img src="images/camping_main.png" alt="Vue d'ensemble du camping" class="main_picture">
</div>



{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}