{% extends "base.html.twig" %}
{% block title %}Formulaire de connexion{% endblock %}

{% block body %}
    <h2>Veuillez vous identifier</h2>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Identifiant</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default btn-outline-primary btn-sm">Connexion</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}